.DS_Store
._*

01_infrastructure/lima/ubuntu-24.04.img

00_debug

.claude/settings.local.json

03_apps/quarkus-api/target/
03_apps/quarkus-ui/target/

04_blockchain/fabric/network-config/channel-artifacts/
04_blockchain/fabric/network-config/crypto-material/
