apiVersion: v1
kind: Secret
metadata:
  name: repo-{{ github_repo_name }}
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ github_repo_url }}
{% if github_token != "" %}
  username: git
  password: {{ github_token }}
{% endif %}
